<h1 class="text-center mb-5"><%= @recipe.name %> Recipe</h1>

<div class="d-flex align-items-center justify-content-evenly">
  <h3>Preparation time: <%= @recipe.prep_time%></h3>
  <div>
      <%if can? :update,@recipe%>
      <%= form_with model: @recipe, url: update_status_recipe_path(@recipe.id), method: :patch, class:"form-check form-switch" do |form| %> 
        <%= form.check_box :public?,role: "switch",class: "form-check-input",onchange:'this.form.submit();'%>
        <%= form.label :public ,class:"form-check-label "%>
      <%end%>
    <%end%>
  </div>
</div>

<div class="d-flex flex-column" id="recipe-flex-column">
  <div>
    <h3>Cooking time: <%= @recipe.cook_time%></h3>
    <h3>Steps go here:</h3>
  </div>
</div>
<%if can? :manage,@recipe%>
    <div class='d-flex flex-row justify-content-center gap-5'>
      <%= link_to 'Generate shoping list',recipe_shopping_list_path(id:@recipe.id),method: :get,class:"btn btn-secondary"%>
      <%= link_to 'Add Ingredient',new_recipe_recipe_food_path(recipe_id:@recipe.id),method: :get,class:"btn btn-secondary"%>
    </div>
  <%end%>
<table class="table table-dark table-striped mx-auto mt-1" style="width:800px;">
  <thead>
    <tr>
      <th>Food</th>
      <th>Qunanity </th>
      <th>Value</th>
      <th>action</th>
    </tr>
  </thead>
    <tbody>
    <% @recipe_foods.each do |recipe_food|%>
      <tr>
        <td class="table-secondary px-3 py-2"><%= recipe_food.food.name %></td>
        <td class="table-secondary px-3 py-2"><%= recipe_food.quantity %></td>
        <td class="table-secondary px-3 py-2"><%= recipe_food.food.price * recipe_food.quantity %></td>
        <%if can? :manage,@recipe%>
        <td class="table-secondary d-flex flex-row gap-1 justify-content-center px-3 py-2">
          <%= link_to 'Edit',edit_recipe_recipe_food_path(recipe_id:@recipe.id,id:recipe_food.id),method: :get,class:"btn btn-secondary"%>
          <%= button_to 'Remove',recipe_recipe_food_path(recipe_id:@recipe.id,id:recipe_food.id),method: :delete,class:"btn btn-secondary"%>
        </td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>
