<h1 class="text-center">Recipe <%= current_user.recipes.find_index(number) + 1 %></h1>

<div class="d-flex align-items-center justify-content-evenly">
  <h3>Preparation time: <%= @recipe.prep_time%></h3>
  <div>
    <%= button_to "Switch Public Status", update_status_user_recipe_path(current_user.id, @recipe.id), method: :patch, class: "btn btn-secondary" %>
    <div class="bg-success text-white">
    <%= flash[:notice] %>
    </div>
  </div>
</div>

<div class="d-flex flex-column" id="recipe-flex-column">
  <div>
    <h3>Cooking time: <%= @recipe.cook_time%></h3>
    <h3>Steps go here:</h3>
    <p><%= @recipe.steps %></p>
  </div>
</div>
